1. Write a program to accept percentage from the user and display the grade according to the following criteria:

marks              grade
>90                A
>80 and <=90       B
>=60 and <=80      C
below 60           D

In [1]:
marks = float(input("Enter your marks as a percentage: "))

if marks > 90:
    print("Grade: A")
elif marks > 80 and marks <= 90:
    print("Grade: B")
elif marks >= 60 and marks <= 80:
    print("Grade: C")
elif marks < 60:
    print("Grade: D")

Enter your marks as a percentage:  80

Grade: C

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

Tax          Cost Price(in Rs)
15%            >100000
10%            >50000 and <= 100000
5%             <=50000

In [2]:
cost_price = float(input("Enter the cost price of the bike in Rs: "))

if cost_price > 100000:
    road_tax = cost_price * 0.15
    print("Road tax to be paid:", road_tax, "Rs")
elif cost_price > 50000 and cost_price <= 100000:
    road_tax = cost_price * 0.1
    print("Road tax to be paid:", road_tax, "Rs")
elif cost_price <= 50000:
    road_tax = cost_price * 0.05
    print("Road tax to be paid:", road_tax, "Rs")

Enter the cost price of the bike in Rs:  50000

Road tax to be paid: 2500.0 Rs

3. Accept any city from the user and display monuments of that city.

City            Monument
Delhi           Red Fort  
Agra            Taj Mahal
Jaipur          Jal Mahal

In [3]:
city = input("Enter the name of the city: ")

if city == "Delhi":
    print("Monument: Red Fort")
elif city == "Agra":
    print("Monument: Taj Mahal")
elif city == "Jaipur":
    print("Monument: Jal Mahal")
else:
    print("Monument not found for the entered city")

Enter the name of the city:  Delhi

Monument: Red Fort

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [4]:
num = int(input("Enter a number: "))
count = 0

while num > 10:
    num = num / 3
    count += 1

print("The number can be divided by 3", count, "times before it is less than or equal to 10")

Enter a number:  4

The number can be divided by 3 0 times before it is less than or equal to 10

5. Why and when to use While Loop in Python give a detailed description with examples

A while loop in Python is used to repeat a block of code as long as a certain condition is met. The basic syntax for a while loop is:

while condition:
    # code to be executed
The code inside the loop will continue to execute as long as the condition is true. Once the condition becomes false, the loop will terminate and the program will continue with the next block of code.

Here are a few examples to show when you might use a while loop:

Looping until a user enters the correct input:

In [5]:
while True:
    user_input = input("Enter a number: ")
    if user_input.isdigit():
        break
    else:
        print("Invalid input, please try again.")

Enter a number:  6

Looping through a list:

In [6]:
numbers = [1, 2, 3, 4, 5]
index = 0
while index < len(numbers):
    print(numbers[index])
    index += 1

1
2
3
4
5

6. Use nested while loop to print 3 different pattern

Here are three examples of different patterns that can be printed using nested while loops:

(a). Right triangle pattern:

In [7]:
n = int(input("Enter the number of rows: "))

row = 1
while row <= n:
    col = 1
    while col <= row:
        print("*", end="")
        col += 1
    print()
    row += 1

Enter the number of rows:  5

*
**
***
****
*****

(b). Diamond pattern

In [8]:
n = int(input("Enter an odd number of rows: "))

row = 1
while row <= n:
    col = 1
    spaces = abs(n // 2 - row + 1)
    while col <= spaces:
        print(" ", end="")
        col += 1
    col = 1
    while col <= n - 2 * spaces:
        print("*", end="")
        col += 1
    print()
    row += 1

Enter an odd number of rows:  5

  *
 ***
*****
 ***
  *

(c). Pyramid pattern

In [9]:
n = int(input("Enter the number of rows: "))

row = 1
while row <= n:
    col = 1
    spaces = n - row
    while col <= spaces:
        print(" ", end="")
        col += 1
    col = 1
    while col <= 2 * row - 1:
        print("*", end="")
        col += 1
    print()
    row += 1

Enter the number of rows:  5

    *
   ***
  *****
 *******
*********

7. Reverse a while loop to diplay numbers from 10 to 1

Here is a sample Python code to display numbers from 10 to 1 using a while loop:

In [10]:
num = 10
while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1